body {
    background-image: url('kop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.products {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}   

.products img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.nav-links{
    position: fixed;
    text-align: center;
    top: 10px;
    width: 100%;
    background-color: wheat;
    font-size: 20px;
}

.petal {
    position: absolute;
    top: 0;
    left: 20%;          /* pick a visible horizontal spot */
    font-size: 30px;
    opacity: 0.8;
    transform-origin: center;
    animation: fall 5s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
    }
}
