body { 
    background-image: url('stare.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.container {
    color: red;
}